{{ 'section-bagde.css' | asset_url | stylesheet_tag }}


<div class="badge-row">
    <div class="badge_item">
        <div class="block-icon">
            <img class="badge-img" src="https://cdn.shopify.com/s/files/1/0600/7626/1573/files/frais_de_port.png?v=1633970017" alt="FRAIS DE PORT OFFERTS">
        </div>
        <div class="block-title">FRAIS DE PORT OFFERTS</div>
        <p>Dès 46€ d'achat en Europe</p>
    </div>
    <div class="badge_item">
        <div class="block-icon">
            <img class="badge-img" src="https://cdn.shopify.com/s/files/1/0600/7626/1573/files/cadeau_orange.png?v=1633970017" alt="POUR OFFRIR">
        </div>
        <div class="block-title">POUR OFFRIR</div>
        <p>Carte personnalisée</p>
    </div>
    <div class="badge_item">
        <div class="block-icon">
            <img class="badge-img" src="https://cdn.shopify.com/s/files/1/0600/7626/1573/files/secure.png?v=1633970017" alt="PAIEMENTS SÉCURISÉS">
        </div>
        <div class="block-title">PAIEMENTS SÉCURISÉS</div>
        <p>Avec CB et Paypal</p>
    </div>
</div>


{% schema %}
{
    "name": "badge",
    "tag": "section",
    "settings": [],
    "presets": [
        {
        "name": "badge"
        }
    ]
}
{% endschema %}