<div class="container row">
    <div class="reassurance_item col-md-4 col-12">
        <div class="block-icon">
            <img class="svg" src="/modules/blockreassurance/views/img/img_perso/frais_de_port.png" alt="FRAIS DE PORT OFFERTS">
        </div>
        <div class="block-title">FRAIS DE PORT OFFERTS</div>
        <p>Dès 46€ d'achat en Europe</p>
    </div>
    <div class="reassurance_item col-md-4 col-12">
        <div class="block-icon">
            <img class="svg" src="/modules/blockreassurance/views/img/img_perso/cadeau_orange.png" alt="POUR OFFRIR">
        </div>
        <div class="block-title">POUR OFFRIR</div>
        <p>Carte personnalisée</p>
    </div>
    <div class="reassurance_item col-md-4 col-12">
        <div class="block-icon">
            <img class="svg" src="/modules/blockreassurance/views/img/img_perso/secure.png" alt="PAIEMENTS SÉCURISÉS">
        </div>
        <div class="block-title">PAIEMENTS SÉCURISÉS</div>
        <p>Avec CB et Paypal</p>
    </div>
</div>


{% schema %}
{
    "name": "badge",
    "tag": "section",
    "settings": [],
    "presets": [
        {
        "name": "badge"
        }
    ]
}
{% endschema %}