{{ 'faq-section.css' | asset_url | stylesheet_tag }}

<button class="accordion">Présentation du produit</button>
<div class="panel">
    <p>Lorem ipsum...</p>
</div>


{% schema %}
{
"name": "faq",
"tag": "section",
"class": "faq-section spaced-section",
"settings": [],
"presets": [
{
"name": "faq"
}
]
}
{% endschema %}