.review-title {
    text-align: center;
    padding: 0px 15px;
    font-weight: bold;
    margin: 40px 0px 25px;
}

.mySwiper {
    overflow: hidden;
    position: relative;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 40px;
    left: 0;
    width: 100%;
}

.swiper-wrapper {
    /*width: 100%;*/
    /*height: 100%;*/
    align-items: flex-start;
}

.img-contain {
    /*width: 100vh;*/
    /*height: 100vh;*/
    /*margin-right: 90px;*/
}

.slider-img {
    height: 72vh;
    width: 26vw;
    border-radius: 10px;
}

.swiper-text {
    width: 260px;
    margin-right: 30px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
    padding: 25px;
    -webkit-box-shadow: 0px 8px 20px 4px rgba(0,0,0,0.43);
    box-shadow: 0px 8px 20px 4px rgba(0,0,0,0.43);
}


.card-verified {
    background-color: #00b77a;
    color: white;
    margin-left: 100px;
    padding: 2px;
}

.card-header {
    display: flex;
    align-items: center;
}

.trust-badge {
    width: 15%;
    margin-left: 40%;
    margin-bottom: 30px;
}



.review__wrapper {
    display: flex;
    /*width: 670px !important;*/
    margin-right: -100px;

}

.flex__sliders {
    display: flex;
}

.swiper-slide {
    /*flex-shrink: 1 !important;*/
}

@media screen and (max-width: 750px) {
    .swiper-text {
        /*margin-top: 100px;*/
        /*width: 250px !important;*/
    }

    .slider-img {
        height: 60vh;
        width: 80vw;
        /*border-radius: 10px;*/
    }

    .trust-badge {
        width: 35%;
        margin-left: 35%;
        margin-bottom: 30px;
    }

    .review__wrapper {
        display: flex;
        width: 125% !important;
        margin-right: 140px;

    }

    }


