.review-title {
    text-align: center;
    font-weight: bold;
    margin: 40px 0px;
}

.mySwiper {
    overflow: hidden;
    position: relative;

}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    align-items: flex-start;
}

.img-contain {
    width: 100vh;
    height: 100vh;
}

.slider-img {
    height: 55vh;
    width: 80vw;
}

.swiper-text {
    /*width: 50px;*/

}

.swiper-slide.swiper-text {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
    padding: 25px;
    -webkit-box-shadow: 0px 8px 20px 4px rgba(0,0,0,0.43);
    box-shadow: 0px 8px 20px 4px rgba(0,0,0,0.43);
}

.card-verified {
    background-color: #00b77a;
    color: white;
    margin-left: 100px;
    padding: 2px;
}

.card-header {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 750px) {
    .swiper-slide.swiper-text {
        margin-top: 100px;
        margin-right: -18px;
        width: 250px !important;
    }

}
