.badge-row {
    display: flex;
    justify-content: space-around;
    background-color: #00366A;
}

.badge_item {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.block-icon {
    margin-top: 20px;
}

.block-title {
    color: white;
}

.block-text {
    color: white;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}